{
  "openapi": "3.0.3",
  "info": {
    "title": "BioMech API",
    "description": "Backend API for the Desertacia bio-mechanical training platform",
    "version": "1.0.0"
  },
  "servers": [
    { "url": "https://api.biomech.app", "description": "Production" },
    { "url": "https://biomech-api-abcdef-uc.a.run.app", "description": "Cloud Run" },
    { "url": "http://localhost:8080", "description": "Local dev" }
  ],
  "paths": {
    "/health": {
      "get": {
        "summary": "Health check",
        "tags": ["System"],
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HealthResponse" } } }
          }
        }
      }
    },
    "/metrics": {
      "get": {
        "summary": "Prometheus metrics",
        "tags": ["System"],
        "responses": {
          "200": { "description": "Metrics in Prometheus text format" }
        }
      }
    },
    "/api/v1/auth/firebase": {
      "post": {
        "summary": "Sync Firebase-authenticated user",
        "tags": ["Auth"],
        "security": [{ "BearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SyncUserRequest" } } }
        },
        "responses": {
          "200": { "description": "User synced" },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/api/v1/me": {
      "get": {
        "summary": "Get current user profile",
        "tags": ["Users"],
        "security": [{ "BearerAuth": [] }],
        "responses": {
          "200": { "description": "User profile" }
        }
      },
      "put": {
        "summary": "Update current user profile",
        "tags": ["Users"],
        "security": [{ "BearerAuth": [] }],
        "requestBody": {
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UpdateUserRequest" } } }
        },
        "responses": {
          "200": { "description": "Updated" }
        }
      }
    },
    "/api/v1/me/avatar": {
      "post": {
        "summary": "Upload avatar",
        "tags": ["Users"],
        "security": [{ "BearerAuth": [] }],
        "requestBody": {
          "content": { "multipart/form-data": { "schema": { "type": "object", "properties": { "file": { "type": "string", "format": "binary" } } } } }
        },
        "responses": {
          "200": { "description": "Avatar uploaded" }
        }
      }
    },
    "/api/v1/users/{id}": {
      "get": {
        "summary": "Get user by ID",
        "tags": ["Users"],
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "User found" },
          "404": { "description": "Not found" }
        }
      }
    },
    "/api/v1/devices": {
      "post": {
        "summary": "Register a new device",
        "tags": ["Devices"],
        "security": [{ "BearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CreateDeviceRequest" } } }
        },
        "responses": {
          "201": { "description": "Device created" }
        }
      },
      "get": {
        "summary": "List user devices",
        "tags": ["Devices"],
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          { "$ref": "#/components/parameters/Page" },
          { "$ref": "#/components/parameters/Limit" }
        ],
        "responses": {
          "200": { "description": "Paginated device list" }
        }
      }
    },
    "/api/v1/devices/{id}": {
      "get": {
        "summary": "Get device by ID",
        "tags": ["Devices"],
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Device found" }
        }
      },
      "put": {
        "summary": "Update device",
        "tags": ["Devices"],
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Device updated" }
        }
      },
      "delete": {
        "summary": "Delete device",
        "tags": ["Devices"],
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "204": { "description": "Device deleted" }
        }
      }
    },
    "/api/v1/devices/{id}/actions": {
      "get": {
        "summary": "List device actions",
        "tags": ["Devices"],
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Actions list" }
        }
      }
    },
    "/api/v1/emg/sessions": {
      "post": {
        "summary": "Start EMG session",
        "tags": ["EMG"],
        "security": [{ "BearerAuth": [] }],
        "responses": {
          "201": { "description": "Session started" }
        }
      },
      "get": {
        "summary": "List EMG sessions",
        "tags": ["EMG"],
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          { "$ref": "#/components/parameters/Page" },
          { "$ref": "#/components/parameters/Limit" }
        ],
        "responses": {
          "200": { "description": "Paginated sessions" }
        }
      }
    },
    "/api/v1/emg/sessions/{id}": {
      "get": {
        "summary": "Get EMG session",
        "tags": ["EMG"],
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Session found" }
        }
      }
    },
    "/api/v1/emg/sessions/{id}/end": {
      "post": {
        "summary": "End EMG session",
        "tags": ["EMG"],
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Session ended" }
        }
      }
    },
    "/api/v1/emg/sessions/{id}/samples": {
      "post": {
        "summary": "Add EMG sample",
        "tags": ["EMG"],
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "201": { "description": "Sample added" }
        }
      },
      "get": {
        "summary": "Get EMG samples",
        "tags": ["EMG"],
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Sample list" }
        }
      }
    },
    "/api/v1/emg/sessions/{id}/samples/batch": {
      "post": {
        "summary": "Add EMG samples in batch",
        "tags": ["EMG"],
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "201": { "description": "Samples added" }
        }
      }
    },
    "/api/v1/training/jobs": {
      "post": {
        "summary": "Create training job",
        "tags": ["Training"],
        "security": [{ "BearerAuth": [] }],
        "responses": {
          "201": { "description": "Job created" }
        }
      },
      "get": {
        "summary": "List training jobs",
        "tags": ["Training"],
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          { "$ref": "#/components/parameters/Page" },
          { "$ref": "#/components/parameters/Limit" }
        ],
        "responses": {
          "200": { "description": "Paginated job list" }
        }
      }
    },
    "/api/v1/training/jobs/{id}": {
      "get": {
        "summary": "Get training job",
        "tags": ["Training"],
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Job found" }
        }
      }
    },
    "/api/v1/training/jobs/{id}/status": {
      "post": {
        "summary": "Update training job status (internal)",
        "tags": ["Training"],
        "security": [{ "APIKeyAuth": [] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Status updated" }
        }
      }
    },
    "/api/v1/training/upload": {
      "post": {
        "summary": "Upload training data",
        "tags": ["Training"],
        "security": [{ "BearerAuth": [] }],
        "responses": {
          "201": { "description": "Upload accepted" }
        }
      }
    },
    "/api/v1/training/files": {
      "post": {
        "summary": "Upload training file",
        "tags": ["Training"],
        "security": [{ "BearerAuth": [] }],
        "responses": {
          "201": { "description": "File uploaded" }
        }
      },
      "get": {
        "summary": "List training files",
        "tags": ["Training"],
        "security": [{ "BearerAuth": [] }],
        "responses": {
          "200": { "description": "File list" }
        }
      }
    },
    "/api/v1/training/files/{id}": {
      "get": {
        "summary": "Get training file metadata",
        "tags": ["Training"],
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "File metadata" }
        }
      },
      "delete": {
        "summary": "Delete training file",
        "tags": ["Training"],
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "204": { "description": "File deleted" }
        }
      }
    },
    "/api/v1/training/files/{id}/download": {
      "get": {
        "summary": "Download training file",
        "tags": ["Training"],
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "File download" }
        }
      }
    },
    "/api/v1/predict": {
      "post": {
        "summary": "Make prediction",
        "tags": ["Prediction"],
        "security": [{ "BearerAuth": [] }],
        "responses": {
          "200": { "description": "Prediction result" }
        }
      }
    },
    "/api/v1/predict/ws": {
      "get": {
        "summary": "Stream predictions via WebSocket",
        "tags": ["Prediction"],
        "security": [{ "BearerAuth": [] }],
        "responses": {
          "101": { "description": "WebSocket upgrade" }
        }
      }
    },
    "/api/v1/stats/dashboard": {
      "get": {
        "summary": "Dashboard statistics",
        "tags": ["Stats"],
        "security": [{ "BearerAuth": [] }],
        "responses": {
          "200": { "description": "Dashboard stats" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Firebase ID token (JWT)"
      },
      "APIKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "Internal API key for ML service callbacks"
      }
    },
    "parameters": {
      "Page": {
        "name": "page",
        "in": "query",
        "schema": { "type": "integer", "default": 1, "minimum": 1 },
        "description": "Page number (1-indexed)"
      },
      "Limit": {
        "name": "limit",
        "in": "query",
        "schema": { "type": "integer", "default": 20, "maximum": 100, "minimum": 1 },
        "description": "Items per page"
      }
    },
    "schemas": {
      "HealthResponse": {
        "type": "object",
        "properties": {
          "status": { "type": "string", "example": "ok" }
        }
      },
      "SyncUserRequest": {
        "type": "object",
        "properties": {
          "displayName": { "type": "string" },
          "photoURL": { "type": "string", "format": "uri" }
        }
      },
      "UpdateUserRequest": {
        "type": "object",
        "properties": {
          "displayName": { "type": "string" },
          "avatarUrl": { "type": "string", "format": "uri" }
        }
      },
      "CreateDeviceRequest": {
        "type": "object",
        "required": ["name", "type"],
        "properties": {
          "name": { "type": "string" },
          "type": { "type": "string", "enum": ["emg_band", "imu", "other"] },
          "firmwareVersion": { "type": "string" },
          "bleServiceUuid": { "type": "string", "format": "uuid" },
          "bleCommandCharUuid": { "type": "string", "format": "uuid" },
          "bleStatusCharUuid": { "type": "string", "format": "uuid" },
          "bleEmgCharUuid": { "type": "string", "format": "uuid" }
        }
      }
    }
  }
}
